/out/
/tomcat1/target/
/tomcat2/target/

/internationalization/target/

/spring1/target/
/spring2/target/
/spring3/target/
/spring4/target/
/spring5/target/
/spring6/target/
/spring7/target/
/spring8/target/
/spring9/target/
/spring10/target/
/spring11/target/
/spring12/target/
/spring13/target/
/spring14/target/
/spring15/target/
